.complete {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3.5rem 0;
  padding-bottom: 1rem;
  font-weight: 500;
  border-bottom: 1px solid #d7d8da;

  span {
    font-size: 1.25rem;
  }

  span:last-child {
    font-size: 1.5rem;
  }
}
