.complete {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;

  span {
    font-size: 1.25rem;

    img {
      width: 1.5rem;
      margin-right: 0.5rem;
    }
  }

  span:last-child {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 768px) {
  .complete {
    display: none;
  }
}
