@import '../../style/scss/colors';
@import '../../style/scss/layout';

.mButton {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.85rem 1.25rem;
  color: $dark;
  font-family: $mooven-font;
  font-size: 1.1rem;
  font-weight: 700;
  border: 2px solid darken($light, 10);
  border-bottom: 5px solid darken($light, 10);
  border-radius: $radius-md;
  background-color: $light;
  transition: all 0.2s ease-out;

  .icon {
    width: 1.85rem;
    margin-right: 0.85rem;
  }

  &.block {
    width: 100%;
  }

  &.large {
    font-size: 1.4rem;
    padding: 1.15rem 1.55rem;
  }

  @each $color, $value in $colors {
    &.#{$color} {
      @if $color == 'white' {
        color: $dark;
        border: 2px solid darken($value, 10);
        border-bottom: 5px solid darken($value, 10);
      } @else {
        color: $light;
        border: 2px solid darken($value, 5);
        border-bottom: 5px solid darken($value, 5);
      }

      background-color: $value;
    }
  }

  // &:hover,
  // &:focus {
  //   filter: brightness(1.2);
  // }
}
