@import '../../style/scss/colors';
@import '../../style/scss/layout';

.countdown {
  display: flex;
  align-items: center;
  font-family: Rajdhani, sans-serif;
  font-size: 5rem;
  font-weight: 600;
  color: $title;

  .minutes,
  .seconds {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    font-size: 8.5rem;
    background-color: $light;
    border: 2px solid $gray-line;
    border-bottom: 5px solid $gray-line;
    border-radius: $radius-md;

    span {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;

      &:first-child {
        border-right: 2px solid $gray-line;
      }
    }
  }

  > span {
    margin: 0 0.8rem;
  }
}

@media only screen and (max-width: 768px) {
  .countdown {
    .minutes,
    .seconds {
      font-size: 4rem;
    }
  }
}
