@import "../../style/scss/colors";

.countdown {
  display: flex;
  align-items: center;
  font-family: Rajdhani, sans-serif;
  font-size: 5rem;
  font-weight: 600;
  color: $title;

  .minutes,
  .seconds {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    font-size: 8.5rem;
    background-color: $white;
    box-shadow: 0 0 1rem rgba(#000, 0.05);
    border-radius: 0.25rem;

    span {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;

      &:first-child {
        border-right: 1px solid $gray-line;
      }
    }
  }

  > span {
    margin: 0 0.8rem;
  }
}

.countdownButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4rem;
  margin-top: 1rem;
  font-size: 1.25rem;
  font-weight: 600;
  color: $white;
  border: none;
  border-radius: 0.25rem;
  background-color: $orange;
  transition: background-color 0.2s linear, color 0.2s linear;

  &:hover {
    background-color: darken($orange, 10);
  }

  &:disabled {
    color: $title;
    background-color: $white;
    border-bottom: 4px solid $orange;
    cursor: not-allowed;

    img {
      margin-left: 0.5rem;
    }
  }

  &.abandon {
    color: $title;
    background-color: $white;

    span {
      margin-top: -0.25rem;
      margin-left: 0.5rem;
      font-size: 2rem;
      font-weight: normal;
    }

    &:hover {
      background-color: $red;
      color: $white;
    }
  }
}
