@import '../../style/scss/colors';

.profile {
  display: flex;
  align-items: center;
  width: 100%;

  .photo {
    border-radius: 50%;
    width: 5.5rem;
    height: 5.5rem;
  }

  .description {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1.5rem;

    .name {
      margin-bottom: 0;
      color: $title;
      font-size: 1.5rem;
      font-weight: 600;
    }

    .infos {
      display: flex;

      .level,
      .completed {
        margin-bottom: 0;
        font-size: 1rem;

        strong {
          margin-left: 0.3rem;
        }
      }

      .completed {
        margin-left: 1rem;
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .profile {
    display: none;
    // .photo {
    //   width: 4rem;
    //   height: 4rem;
    // }

    // .description {
    //   .name {
    //     font-size: 1.25rem;
    //   }

    //   .infos .completed {
    //     display: block;
    //   }
    // }
  }
}
