@import "../../style/scss/colors";

.experienceBar {
  $progress-height: 4px;

  display: flex;
  align-items: center;

  .from,
  .to {
    font-size: 1rem;
  }

  .progress {
    position: relative;
    flex: 1;
    height: $progress-height;
    margin: 0 1.5rem;
    border-radius: $progress-height;
    background-color: $gray-line;

    .done {
      position: relative;
      height: 100%;
      border-radius: $progress-height;
      background-color: $green;

      .current {
        position: absolute;
        top: 100%;
        right: 0;
        transform: translateX(50%);
      }
    }
  }
}
