@import '../../style/scss/colors';
@import '../../style/scss/layout';

.experienceBar {
  $progress-height: 16px;

  display: flex;
  align-items: center;

  .from,
  .to {
    font-size: 1rem;
  }

  .progress {
    position: relative;
    flex: 1;
    height: $progress-height;
    margin: 0 1rem;
    border-radius: $progress-height;
    background-color: $gray-line;

    .done {
      position: relative;
      height: 100%;
      border-radius: $progress-height;
      background: $orange;
      transition: all 0.2s linear;

      &::before {
        content: '';
        position: absolute;
        display: block;
        top: 3px;
        left: 15px;
        right: 15px;
        height: 6px;
        border-radius: 6px;
        background-color: lighten($orange, 10);
      }
    }
  }
}
