@import '../../style/scss/colors';

.experienceBar {
  $progress-height: 4px;

  display: flex;
  align-items: center;

  .from,
  .to {
    font-size: 1rem;
  }

  .progress {
    position: relative;
    flex: 1;
    height: $progress-height;
    margin: 0 1.5rem;
    border-radius: $progress-height;
    background-color: $gray-line;

    .done {
      position: relative;
      height: 100%;
      border-radius: $progress-height;
      background: linear-gradient(to right, darken($orange, 10), $orange);

      .current {
        position: absolute;
        bottom: 100%;
        right: 0;
        width: 35px;
        text-align: center;
        transform: translateX(50%);
        z-index: 1;
      }
    }
  }
}
