// .ranking {
// }

.legend {
  display: flex;
  width: 100%;
  text-transform: uppercase;

  .position,
  .user,
  .challenges,
  .experience {
    font-size: 0.8rem;
  }

  .position {
    width: 70px;
  }

  .user {
    flex: 1;
  }

  .challenges {
    width: 180px;
  }

  .experience {
    width: 120px;
  }
}

@media only screen and (max-width: 768px) {
  .legend {
    display: none;
  }
}
