@import '../../style/scss/colors';
@import '../../style/scss/layout';
@import '../../style/scss/animations/tada.scss';

.levelUpModal {
  position: fixed;
  display: flex;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: $white;
  background-color: rgba(#fff, 0.1);
  overflow: hidden;
  z-index: 999;

  .content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 425px;
    max-width: 90%;
    padding: 2rem 3rem;
    text-align: center;
    border-radius: $radius-md;
    background-color: $pink;
    // background-color: $blue;
    box-shadow: 0 0 1rem rgba(#000, 0.05);
    @include tada;

    .close {
      position: absolute;
      display: flex;
      top: 1.25rem;
      right: 1.25rem;
      font-size: 2.5rem;
      outline: inherit;
      cursor: pointer;
    }

    header {
      font-size: 8.75rem;
      font-weight: 600;

      background: url(/icons/levelUp.svg) no-repeat;
      background-size: contain;
    }

    strong {
      font-size: 2.25rem;
    }

    p {
      margin-top: 0.25rem;
      font-size: 1.25rem;
    }
  }
}
