@import '../../style/scss/colors';
@import '../../style/scss/layout';

.challengeBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 1.5rem 2rem;
  text-align: center;
  border: 2px solid $gray-line;
  border-bottom: 5px solid $gray-line;
  border-radius: $radius-md;
  background-color: $light;

  .active {
    display: flex;
    flex-direction: column;
    height: 100%;

    header {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 2rem;
      color: $blue;
      font-size: 1.5rem;
      font-weight: 700;

      img {
        height: 7rem;
        margin-top: 2rem;
      }
    }

    main {
      flex: 1;
      display: flex;
      flex-direction: column;

      strong {
        color: $title;
        font-size: 2rem;
      }
    }

    footer {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
    }
  }

  .notActive {
    display: flex;
    flex-direction: column;
    justify-content: center;

    strong {
      font-size: 1.5rem;
      font-weight: 500;
    }

    p {
      display: flex;
      align-items: center;
      width: 80%;
      margin: 0 auto;
      margin-top: 2rem;
      text-align: left;

      span {
        // height: 3rem;
        margin-right: 1rem;
        color: $green;
        font-size: 3rem;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .challengeBox {
    padding: 1.5rem 1.5rem;

    .active {
      header {
        flex-direction: row;
        margin-bottom: 0;
        padding-bottom: 0.5rem;

        img {
          height: 6rem;
          margin: 0;
        }
      }

      main {
        strong {
          color: $title;
          font-size: 1.5rem;
        }
      }
    }

    .notActive {
      strong {
        font-size: 1.15rem;
      }
    }
  }
}
