// Fonts

$mooven-font: 'Comfortaa';
$main-font: 'Comfortaa';
$fallback-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
  Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

// Radius
$radius-sm: 0.5rem;
$radius-md: 1rem;
